{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "requirePragma": false,
    "insertPragma": false,
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf"
}
